body{
	margin: 0px;
	height: 100%;
	font-family: sans-serif;
	color: #ffffff;
	text-align: justify;
	background-color: #E0E0E0;
}
h1{
	color: #000;
	padding-top: 50px;
}
p.head{
	color: #ffffff;
}
p{
	color: black;
}
div.head{
	margin-top: 0px;
	align-items: center; 
	min-height: 100%;
}
div.bg{
	background-image: url(../sumberdaya/back.png); 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background-repeat: no-repeat;
	background-size: 100%;
}
div.a{
	position: relative; 
	text-align: center;
}

div.b{
	padding-top: 150px;
	margin-right: auto; 
	margin-left: auto;
	padding-bottom: -30px;
} 


a:link, a:visited {
	background-color: #0091EA;
	color: white;
	padding: 5px 8px;
	margin-right: 6px;
	border-radius: 2px;
	font-size: 1.18em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 18px 0 rgba(0, 0, 0, 0.19);
}
a:hover{
	background-color: #F44336;
}

div.produk{
	color: orange;
	font-family: times;
	padding-top: 20px;
	padding-left: 150px;
	padding-right: 100px;
}
img{
	width: 130px;
	height: 130px;
	border-radius: 10px;
}
div.thumb{
	display: inline-block;
	height: 150px;
	width: 150px;
	padding-right: 10px;
	padding-bottom: 30px;
}