body{
	margin: 0px;
	height: 100%;
}
div.body{
	margin-top: -22px;
	margin-bottom: -22px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 100px;
	padding-top: 20px;
}
div.header{
	margin-top: -22px;
	text-align: center;
	padding-bottom: 4px;
}
div.toko{
	background-color: green;
	text-align: center;
	padding: 12px;
	width: 1150px;
	font-family: sans-serif;
}
div#menu {
  width:200px;
  background-color: blue;
  float:left;
  margin:10px 0 10px 5px;
  height:250px;
}
a:link, a:visited {
	font-family: sans-serif;
	text-align: center;
	text-decoration: none;
	color: #000;
}

p.a{
	text-align: center;
	font-family: sans-serif;
}

div#content {
  width:auto;
  margin:10px 0 10px 235px;
  min-height:500px;
}
div.paragraf2{
	background-image: url("sumberdaya/hati.png");
	display: inline-block;
	color: green;
	width: 862px;
	text-align: justify;
	font-family: tahoma;
}
p.ab{
	margin-left: -20px;
}
div.paragraf3{
	padding-top: 20px;
	padding-left: 150px;
	color: blue;
	width: 646px;
	font-family: times;
}
div.paragraf4{
	padding-top: 20px;
	padding-left: 150px;
	color: orange;
	font-family: times;
}
div.produk{
	color: orange;
	font-family: times;
	padding-top: 20px;
	padding-left: 150px;
}
img{
	width: 130px;
	height: 130px;
	border-radius: 10px;
}
div.thumb{
	display: inline-block;
	height: 150px;
	width: 150px;
	padding-right: 10px;
}
img.belah{
	position:relative;
left:50px;
top:10px;
z-index:-8;
	float: left;
	padding-bottom: 10px;
	height: 70px;
	width: 70px;
}
img.hati{
	position:relative;
	left:500px;
	top:-10px;
	z-index:-8;
	float: left;
	padding-bottom: 10px;
	height: 70px;
	width: 70px;
}